<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h4 class="masthead-subheading mb-0">Send money at beak speeds</h4>
      <h1 class="masthead-heading mb-3">Pidgeon</h1>
      <h6 class="masthead-subheading mb-0">Join now and get <strong>$500</strong> on us</h6>
      <a href="#pid" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
  <div class="container" id="pid">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag "pigeon_money.png", class:"img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Make instant payments</h2>
          <p>The Pidgeon™ engine was designed using state of the art tools, allowing our servers to handle millions of transactions each second.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <%= image_tag "pidgeon_secure.jpg", class:"img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Secure Transfers</h2>
          <p>Military grade encryption help us maintain anonimity and irreversibility on any transaction.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container" id="pid">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag "pidgeon_friends.jpg", class:"img-fluid rounded-circle" %>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Share with friends</h2>
          <p>Let everyone know who you are sending money to!</p>
        </div>
      </div>
    </div>
  </div>
</section>
