// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
i.icon.ion-heart{
   font-size: 25px;
   color: pink;
}

.hour {
	font-size: 12px;
	margin: 0px;
	color: gray;
}

.card {
	border-bottom: none !important;
	border-right: none !important;
	border-left: none !important;
}